@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .page-header
    width: 100%
    h2
      padding-right: 30px

  .wrapper
    width: 100%

  .top-menu
    ul
      li
        padding: 5px 10px
        font-size: em(14px)

  footer
    .vk-frame
      margin-left: 15px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

  .page-header
    display: none

  .top-panel
    margin-bottom: 20px
    .cities-choosen
      margin-right: 30px
      float: left
    .search-field
      max-width: 200px

  .wrapper
    padding: 0 15px
  .logo-container
    text-align: center
    margin-bottom: 25px

  .section-header
    font-size: em(24px)

  .top-menu
    margin-left: -15px
    margin-right: -15px
    &-mobile
    .ticket-buy-btn
      text-align: center

  .slider
    .slide-wrap
      .slide-content
        padding-top: 50px

  .articles-box
    padding-top: 30px
    .article-preview-small
      margin-bottom: 20px

  .city-сhronicle
    .article-section-right
      margin-bottom: 15px
      .article-big-preview
        height: 400px

  .vlog
    .slider-nav-container
      .slider-nav
        top: 28px
        div
          &.prev
            margin-left: -30px
          &.next
            margin-right: -30px

  .tabs-wrapper
    .owl-item
      &:nth-child(3)
        border-right: none !important

  .chronicle-tabs-nav-container
    display: block

  .vlog-tabs-nav-container
    .slider-nav
      display: none
      
  footer
    .sign-up-header
      margin-bottom: 20px
    .footer-social-frames
      margin: 0 auto
      .facebook-frame,
      .vk-frame
        margin: 0
        float: none
        iframe
          margin: 0 auto
          display: block
      .facebook-frame
        margin-bottom: 20px
    .footer-feedback-rules a
      display: block
    // .footer-links,
    // .footer-phones,
    // .footer-mail
    //   float: none
    .bitrix-btn
      float: none
      margin-right: auto
      margin-left: auto


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .top-panel

    .cities-choosen
      margin: 0

  .top-menu-mobile
    .ticket-buy-btn
      text-align: left

  .slider
    .slide-wrap
      .slide-content
        padding-top: 20px
      h2
        font-size: em(16px)
      .slide
        height: 240px

  .city-сhronicle
    .article-section-right
      .article-big-preview
        height: 300px
        img
          height: 100%
  .vlog
    .youtube-slide-wrap
    	.youtube-frame
        height: 280px
    .slider-nav-container
      .slider-nav
        top: 38px

  .main-slider-nav-container
    .slider-nav
      top: 105px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .top-panel
    .search-field
      width: 45px
      input
        display: none
  .event-section,
  .article-section,
  .vlog-section
    margin-right: -15px
    margin-left: -15px
    .event-item-txt
      padding-bottom: 55px
      position: relative
      margin-left: -15px
      a
        position: absolute
        right: 50%
        bottom: 0
      .event-price
        margin-left: -135px
        text-align: center
        font-size: em(18px)
        margin-top: 20px

  .main-slider-nav-container
    .slider-nav
      padding: 0

  .calendar-of-events
    .events-date-menu
      text-align: center
      li:first-child, li:nth-child(2)
        width: 48%
        margin-right: 0
        margin-left: 0
      li:first-child
        float: left
      li:nth-child(2)
        float: right
      .events-menu-calendar
        width: 100%
        margin-top: 12px

  .tabs-wrapper
    .tabs
      width: 320px
      margin-left: -15px
      ul
        li.active
          span
            padding-left: 40px
          &+li.active
            span
              padding-right: 40px
              padding-left: 0
        li:first-child,
        li:last-child
          span
            padding-left: 0 !important
            padding-right: 0 !important

  .all-events-btn
    display: block
    width: 144px
    margin-right: auto
    margin-left: auto
    float: none

  .side-banner
    margin: 0 15px 25px

  .city-сhronicle
    .article-section-right
      .article-big-preview
        height: 270px

  .events-tabs-nav-container
    display: block

  .vlog
    .youtube-slide-wrap
    	.youtube-frame
        height: 160px
    .slider-nav-container
      .slider-nav
        top: 20px

  footer
    input,
    button
      width: 100%

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
